<div class="search-container">
    <div class="top-line">
        <mat-form-field class="search-name-form" appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput type="text" name="cname" [(ngModel)]="searchParam.name" />
        </mat-form-field>
        <mat-form-field class="search-email-form" appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="cemail" [(ngModel)]="searchParam.email" />
        </mat-form-field>
        <mat-form-field class="search-phone-form" appearance="standard">
            <mat-label>Phone</mat-label>
            <input matInput type="tel" name="cphone" [(ngModel)]="searchParam.phone" />
        </mat-form-field>
        <mat-form-field class="search-note-form" appearance="standard">
            <mat-label>Note</mat-label>
            <input matInput type="text" name="note" [(ngModel)]="searchParam.note" />
        </mat-form-field>
    </div>
    <div class="bottom-line">
        <mat-form-field class="search-arroval-form" appearance="standard">
            <mat-label>Arrival</mat-label>
            <input matInput [matDatepicker]="arrivalDatePicker" [(ngModel)]="searchParam.arrival">
            <mat-datepicker-toggle matSuffix [for]="arrivalDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #arrivalDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="search-departure-form" appearance="standard">
            <mat-label>Departure</mat-label>
            <input matInput [matDatepicker]="departureDatePicker" [(ngModel)]="searchParam.departure">
            <mat-datepicker-toggle matSuffix [for]="departureDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #departureDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="search-roomsize-form" appearance="standard">
            <mat-label>Room Size</mat-label>
            <mat-select name="roomSize" [(ngModel)]="searchParam.room">
                <mat-option *ngFor="let roomSize of roomSizes" [value]="roomSize.value">
                {{roomSize.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="search-btn">
            <button mat-button color="primary" (click)="searchCustomers(searchParam)"><mat-icon>search-btn</mat-icon>Search</button>
        </div>
        <div class="clear-btn">
            <button mat-button color="primary" (click)="clearSearchParam()"><mat-icon>clear-btn</mat-icon>Clear</button>
        </div>
    </div>

</div>

<!-- <app-customer-list></app-customer-list> -->

<div class="results-container" *ngIf="searchResults && searchResults.length>0">
    <!-- <h2>Search Result List</h2>
    <p *ngFor="let r of searchResults">
        <a (click)="popReservationDialog(r)" class="search-result-list">{{r.firstName}} {{r.lastName}}&emsp; {{r.phone}}&emsp;{{r.email}}</a>
    </p> -->
    <table mat-table [dataSource]="searchResults" class="mat-elevation-z8"  >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element" (click)="popReservationDialog(element)" class="clickable-customer-info"> {{element.firstName}} {{element.lastName}}</td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let element" (click)="popReservationDialog(element)" class="clickable-customer-info"> {{element.phone}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element" (click)="popReservationDialog(element)" class="clickable-customer-info"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> Note </th>
            <td mat-cell *matCellDef="let element" (click)="popReservationDialog(element)" class="clickable-customer-info"> {{element.note}} </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div class="results-container" *ngIf="noSearchResults">
    <h2 class="warning-msg"><mat-icon>error</mat-icon>Not Found!</h2>
</div>